
@{
    ViewBag.Title = "AddRole";
}

<h2>AddRole</h2>
<form action="/AccountRoles/AddRole" method="post">

    <div>
        UserName
        <input name="name" id="name" value="" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

